<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="css\style.css">
    <link rel="stylesheet" href="css/cyberpunk.css">
<head>
    <%- include('partials/head') %>
    <%- include('partials/message') %>
</head>

<body class="text-white min-h-screen font-sans">
    <%- include('partials/loadingpage') %>

    <div id="content" style="display: none;">
        <%- include('partials/nav') %>
        <%- include('partials/indexhome') %>
        <%- include('partials/ServerInfo') %>
        <%- include('partials/topUsers') %>
        <%- include('partials/ServerStatus') %>
<%- include('partials/footer') %>
    </div>

    <script>
        window.addEventListener('load', function() {
            setTimeout(function() {
                const loadingElement = document.getElementById('loading');
                const contentElement = document.getElementById('content');
                loadingElement.classList.add('hide-loading');
                contentElement.style.display = 'block';
                setTimeout(function() {
                    loadingElement.style.display = 'none';
                }, 500);
            }, 3000);
        });

        document.getElementById('play-now').addEventListener('click', function() {
            const serverIP = 'play.vazha.fun';

            navigator.clipboard.writeText(serverIP).then(() => {
                alert('Server IP copied to clipboard: ' + serverIP);
            }).catch(err => {
                console.error('Failed to copy server IP: ', err);
                alert('Failed to copy server IP. Please try again.');
            });
        });
    </script>
</body>
</html>
